
.search-bar{
    width: 20rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
   
    border: 2px solid var(--border-clr-1);
    border-radius: 10px;
}
.search-bar input{
    background-color: transparent;
    width: 100%;
    padding-inline: 1rem;
}
.search-bar button{
    width: 4rem;
    background-color: var(--border-clr-1);
    color: var(--txt-clr-1);
    border-radius: 5px;
    display: grid;
    place-items: center;
}
.search-bar button img{
    width: 1.5rem;
}
@media (max-width: 485px) {
    .search-bar{
        width: 12rem;
    }
    .search-bar input{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .search-bar{
        width: 16rem;
    }
}