.cart-main{
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 2rem;
    padding: 1rem 1rem;
}

.cart-main > h2{
    font-size: 1.25rem;
    font-weight: 700;
}
.cart-main__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 2rem;
    margin-bottom: 4rem;

}
.cart-main__product-box > header{
    max-width: 100%;
    height: fit-content;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 2px solid gray;
}
.cart-main__product-box > header .products,
.cart-main__product-box > header .others{
    width: 100%;
    font-weight: 500;
    padding: 0;
    /* border: 1px solid red; */
}
.cart-main__product-box > header > .products{
    display: flex;
    /* border: 1px solid red; */
}
.cart-main__product-box > header > .others{
    display: flex;
    justify-content: space-between;

    /* border: 1px solid red; */
}
.cart-main__product-box .cart-nav-btn-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 4%;
    margin-top: 1rem;


}
.cart-main__product-box .cart-nav-btn-box a{
    background-color: var(--btn-bg-clr);
    color:  hsl(from var(--btn-bg-clr) h s calc(50% / 2 ));
    font-weight: 500;
    padding: .1rem .8rem;
    border-radius: 5px;
}
.cart-main__product-box .cart-nav-btn-box a:first-child{
    background-color: transparent;
    color: var(--btn-bg-clr);
    border: 2px solid var(--btn-bg-clr);
}
.cart-main__product-box .cart-nav-btn-box a:first-child i{
    transform: scaleY(0.8);
    width: 1rem;
}
.cart-main__box{
    display: flex;
    flex-direction: column;

    /* border: 1px solid red; */
}
.cart-main-item{
    min-width: 100%;
    position: relative;
    /* border: 1px solid red; */
}
.cart-main-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}
.cart-main-content .book-details{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.cart-main-content .book-details > img {
    width: 4rem;
    height: 4rem;

}
.item-content-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30%;

    /* border:  1px solid red; */
}
.item-content-box h2{
    max-width: 10rem;
    margin-right: 8rem;
    font-weight: 500
}
.quantity-btn-box{
    display: flex;
    align-items: center;
    gap: .2rem;
    border: 1px solid #111111;
}
.quantity-btn-box button{
    background-color: #999;
    width: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.quantity-btn-box span{
    font-size: 1.2rem;
    font-weight: 500;
}

.cart-main-item > .remove-btn{
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -.5rem;
    right: 1rem;
    border: 1px solid var(--bg-clr-2);
    border-radius: 50%;
}
.cart-main-item > button:active{
    transform: scale(.95);
}

.cart-main__total-box{
    /* width: 30%; */
}
.cart-main__total-box header{
/* border-bottom: 2px solid gray; */
}
.cart-main__total-box h2{
    font-weight: 500;
}
.cart-main__total-box .calculations{
    display: flex;
    flex-direction: column;
    border-block: 4px solid hsl(from var(--bg-clr-2) h s calc(150% / 2));
}
.cart-main__total-box .calculations > .sub-total,
.cart-main__total-box .calculations > .calculate{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
   
    border-bottom: 2px solid hsl(from var(--bg-clr-2) h s calc(150% / 2));
}
.cart-main__total-box .calculations > .total{
    padding: .5rem;
}
.cart-calc-btn-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;

    margin-top: 1rem;
}
.cart-calc-btn-box > a,
.cart-calc-btn-box > button {
    background-color: var(--btn-bg-clr);
    width: 100%;
    padding: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: 5px;
}
.cart-calc-btn-box > a:first-child,
.cart-calc-btn-box > button:first-child {
    background-color: transparent;
    border: 2px solid hsl(from var(--bg-clr-2) h s calc(150% / 2));
}
@media (width > 485px) and (width < 968px) {
    .item-content-box{
        gap: 20%;
    }
}
@media (width <= 485px) {
    .item-content-box{
        width: 100%;
        gap: 10%;
    }
    .item-content-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        /* border:  1px solid red; */
    }
    .cart-main-content .book-details h2{
        max-width: 100%;
        font-size: .65rem;
        margin-right: 0;
        
    }

     .item-content-box > span,
     .item-content-box > .sub-total{
        font-size: .8rem;

     }
    .quantity-btn-box{
        width: fit-content;
        gap: .2rem;

    }
    .quantity-btn-box button{
        width: .8rem;
        font-size: 1rem;
    }
    .quantity-btn-box span{
        width: fit-content;
        font-size: .8rem;
    }
    .quantity-btn-box .unit-price{
        font-size: 4px;
    }
}