.product-listing .product-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    /* border: 1px solid black; */
}
.product-listing .category-container {
    width: 100%;
    max-width: 90%;
    display: flex;
    /* grid-template-columns: repeat(7, 1fr); */
    justify-content: space-between;
    /* justify-content: center; */
    /* align-content: center; */
    padding-inline: 2rem;


    /* border: 1px solid red; */
}
.product-listing ul li{
    width: fit-content;
    display: flex;
    justify-content: center;
    /* border: 1px solid orange; */

}
.product-listing ul li a{
    color: gray;
    font-size: 1.25rem;
    font-weight: 500;

    /* border: 1px solid green; */
}
.product-listing ul li:first-child a{
    color: var(--txt-clr-2);
    text-decoration: underline;
    text-underline-offset: 2px;
}
.product-listing ul li:first-child a:hover{
    color: var(--txt-clr-3);
}
.products{

    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 1rem;
    padding-inline: 5%;
    padding-block: 2rem;

  


}
.products-box .navigation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;
    font-weight: 500;
    /* border: 1px solid red; */
}
.products-box .navigation span{
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 10px;
    display: grid;
    place-content: center;

}
.products-box .navigation span:nth-of-type(1){
    background-color: var(--footer-bg-clr);
}
.products-box .navigation span:nth-of-type(2){
    background-color: var(--bg-clr-2);
}
.product{

    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 10px 10px;

    box-shadow: 0 0 4px;

}
.product img{
    height: 360px;
    min-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.product .content{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* padding-inline: .5rem; */

}
.product .content > div {
    padding-inline: .5rem;
}
.product .product__name{
    color: var(--txt-clr-3);
    font-weight: 500;
}
.product .product__price{
    font-weight: 500;
}
.product button{
    width: 100%;
    max-width: 95%;
    background-color: var(--btn-bg-clr);
    align-self: center;
    padding-block: .5rem;
    margin-block: .3rem;
    font-weight: 500;
    border-radius: 10px;
    transition: background-color .3s;
}

.product button:hover{
    background-color: hsl(from var(--btn-bg-clr) h s calc(80% / 2));
}
.product button:active{
    transform: scale(1.02);
}

.cart-items{
    background-color: var(--bg-clr-1);
    font-weight: 100%;
    width: 20rem;
    min-width: 8rem;
    /* height: fit-content; */
    padding-inline: 2%;
    padding-block: 1rem;
    /* border: 2px solid red; */
    border-radius: 10px;
    position: absolute;
    right: 4%;
    top: 3rem;
}
.cart-items h2{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    /* margin-bottom: 2rem; */
}
.cart-items img{
    width: 2.5rem;
    height: 2.5rem;
}
.main-content{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.main-content h2{
    font-size: .8rem;
    font-weight: 500;
    color: var(--txt-clr-3);
}

@media (max-width: 600px) {
    .products{
        grid-template-columns: repeat(2, 1fr);
        
        /* justify-content: space-between; */
 
    }
    .product {
        /* display: flex; */
        justify-content: space-between;
        /* gap: 100%; */

        /* display: none; */
    }
 
    .product img{
        height: 200px;
        min-width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}